body,
html {
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  position: relative;
  bottom: 0;
  color: white;
  background-image: url(../img/background.png);
  background-size: 100% 100%; 
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;

}
